# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Build output
build/
dist/

# Cache and logs
node_modules/.cache/
*.log

# Environment files
.env
.env.local

# Editor folders
.vscode/
.idea/

# Misc
.DS_Store
